# Django Settings
SECRET_KEY="your-secret-key-here"
DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1


# Database Settings (MySQL)
NAME=your_database_name
USER=your_database_user
PASSWORD=your_database_password
HOST=localhost
PORT=3306


# Celery Settings (Redis)
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# Email Settings
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
EMAIL_HOST_USER="your-email@example.com"
EMAIL_HOST_PASSWORD="your-email-password"
DEFAULT_FROM_EMAIL="your-email@example.com"
