# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environments
.env
venv/
env/

# Django
*.sqlite3
*.log
*/migrations/__pycache__/
staticfiles/

# Media & Backups
# Track folders but ignore all files inside
/media/*
!/media/.gitkeep
/backups/*
!/backups/.gitkeep

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS Files
.DS_Store
Thumbs.db

# Line Endings
* text=auto
*.sh text eol=lf
*.env text eol=lf
*.py text eol=lf

# Celery / Tasks
celerybeat-schedule
