# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual envs
.env
venv/
env/

# Django
*.sqlite3
*.log

# Migrations cache
*/migrations/__pycache__/
*.pyc

# IDE/Editor
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Ignore Python cache
__pycache__/
*.pyc

# Ignore all files inside media folder but keep the folder
/media/*
!/media/.gitkeep

# Ignore all files inside backups folder but keep the folder
/backups/*
!/backups/.gitkeep
